@import '../../variables.scss';

.cardContainer{
    display: flex;
    flex-flow: column;
    width: 70%;
    align-items: center;
    padding: 1rem;
    background-color: $light-green;
    border-radius: 10px;
    margin: 3rem auto;
    color: $purple;
    h2{
        font-family: $secondary-font;
    }
    img{
        height: 13rem;
        width: 13rem;
        margin:  1rem;
    }
    a{
        font-weight: bolder;
    }
}

@media only screen and (min-width: 600px) {
.cardContainer{
    width: 20%;
}
}