@import '../../App.scss';

.cardContainer{
    display: flex;
    flex-flow: column;
    width: 70%;
    align-items: center;
    padding: 1rem;
    background-color: $orange;
    border-radius: 1%;
    // border: 10px solid$orange;
    margin: 3rem auto;
    color: $silk;
    h1{
        font-family: $secondary-font;
        // color: $dark-green;
       
    }
    img{
        height: 10rem;
        width: 10rem;
    }
    a{
        font-weight: bolder;
    }
}