@import '../../variables.scss';

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 50vh;
    color: $dark-green;
    // background-color:$dark-green;
    margin: 0;
    background:transparent url('./RandomBackground.svg') no-repeat center center;
    p:first-child{
        font-size: 4rem;
        font-family: $primary-font;
        margin:0;
    }
    p:nth-child(2){
        font-size: 1.5rem;
    }
}
button{
    width: 10rem;
    font-size: 2rem;
    font-family: $secondary-font;
    background-color: $dark-green;
    color: $silk; 
    border-radius: 10px;
}
.menu{
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
h1{
    color: $dark-green;
    text-transform: capitalize;
}
}
@media only screen and (min-width: 768px) {
    .header{
        p:nth-child(2){
            font-size: 2rem;
        }
    }
}