/////variables
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gravitas+One&display=swap');


$orange: #310D20;
$light-orange: #FA9500;
$silk: #FFDAC6;
$light-green: #BABD8D;
$dark-green: #14281D;

$primary-font: 'Playfair Display', serif;
$secondary-font: 'Oswald', sans-serif;
$display-font:'Gravitas One', cursive;

// Global Styles
html{

a{
    text-decoration: none;
    color: $dark-green;
}
}
body{
background-color: $light-orange;
margin: 0 auto;
font-family: $primary-font;
}

///////About Page
.about-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.about{
    img{
    height: 70%;
    width: 100%;
    }
    }

.about-copy{
    display: flex;
    flex-flow: row wrap;
    font-size: 1.3rem;
    color: $dark-green;
    padding: 1rem;
    margin: 2rem;
    border-radius: 4px;
    box-shadow: 2px 2px 3px $dark-green;
    background-color: $light-green;
}

.about-title{
    color: $dark-green;
    font-size: 3em;
    text-align: center;
    padding: 1rem;
    border-radius: 4px;
    font-family: $secondary-font;
    border: 1rem solid $dark-green;
    background-color: $silk;
    transform: rotate(-8deg)
    skew(-8deg);
    margin: 5rem;
    // box-shadow: 5px 10px #7C6A0A;
}
/////Menu Page
.menu{
header{
background-image: url('./Assets/background.jpg');
background-size: cover;
width: 100vw;
height: 20rem;
margin: 0;
}
div.transparent{
    background-color: $silk;
    text-align: center;
    color: $orange;
    height: 100%;
    padding: 1rem;
    margin: 5rem;
    margin-top: 0;
}
}

////Responsive
@media only screen and (min-width: 600px) {
   .about-title{
  align-self: center;
  margin-top: 10rem;
  width: 30rem;
   }
   .about-copy{
       margin:10rem;
       margin-top: 3rem;
       border: 1px solid $dark-green;
       width: 40rem;
       p{
           margin-left: 10rem;
           margin-right: 10rem;
    }
  
   }
.about{
    img{
       height: 70%;
       width: 100%;
       position: relative;
       margin-top: -400px;
       z-index: -1;
    //    left:10%;
    }
}
.menu header{
    background-size: contain;
    div.transparent{
    }
}
.menu-header{

h2{
    font-size: 4em;
}
p{
    font-size: 2em;
}
}
  }