@import "../../App.scss";

.nav-container{
    display: flex;
    flex-flow: row;
    background-color: $silk;
    align-items: center;
    justify-content: space-around;
    a{
        font-family: $secondary-font;
        color: $dark-green;
        margin: 1rem;
    }
   
    a:first-child{
        flex-basis:  100%;
        font-family: $display-font;
        }

}
